In [ ]:
# This reads in time-series photometry and does a PCA reduction of the brightest stars

In [19]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

%matplotlib qt

In [4]:
time_series = pd.read_csv("test_time_series.csv", index_col=0)

In [5]:
time_series

,0,1,2,3,4,5,6,7,8,9,...,292,293,294,295,296,297,298,299,300,301
0,28441.9660,110185.710,33037.27900,27144.6980,-26.339037,242.80248,1941.11710,3442.8465,56889.880,21800.871,...,795.13398,897.08747,6538.7985,27591.875,35946.767,10358.7330,14162.637,11319.710,14099.378,12795.170
1,28527.0880,113639.370,33061.53200,27025.5020,-232.509930,452.45312,2431.97220,3316.7833,57224.609,21996.173,...,1088.15590,1302.90000,6631.1580,27618.054,36234.199,10191.4520,13898.723,10918.924,14317.806,12554.717
2,27109.7090,94004.295,33560.59200,27696.3970,103.759080,597.88436,2251.22240,2870.3274,56897.565,22135.660,...,1034.26700,570.01584,5936.7903,27145.249,35209.409,12126.2620,15604.756,12925.665,16698.006,14558.791
3,29291.0990,86426.482,32502.05600,26917.0710,18.632116,230.59161,2014.14770,2928.7058,57373.010,22226.576,...,499.31124,1320.64260,7040.1194,27882.875,36695.056,9126.7373,12673.666,10060.801,13208.559,11806.102
4,23814.1590,72716.102,34274.95300,29408.2770,-602.080470,349.49870,2294.51220,3283.2156,56521.769,22790.751,...,660.17791,1022.79420,4207.3230,25566.315,34551.267,16630.2250,19782.226,17871.908,20207.880,18465.854
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2297,2044.8717,NaN,1160.14200,1129.5106,NaN,NaN,1035.12380,2246.8307,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2298,2370.7323,NaN,1388.15540,1866.9797,NaN,NaN,844.51689,2298.0631,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2299,2374.9412,NaN,852.66442,2118.8403,NaN,NaN,1572.66160,2778.8360,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2300,2175.6413,NaN,1181.00070,1837.9815,NaN,NaN,1181.01440,2774.5709,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2301,2552.2515,NaN,1164.85430,1584.8254,NaN,NaN,1346.04500,1905.3951,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [28]:
# make plot of photometry, with annotations to identify stars

list_brightest = [] # initialize list of brightest stars
for (columnName, columnData) in time_series.iteritems():
    #print('Column Name : ', columnName)
    if np.median(columnData.values) > 5000:
        plt.plot(columnData.values)
        plt.annotate(str(columnName), xy=(2300,np.median(columnData.values)), xycoords="data")
        list_brightest.append(str(columnName))
plt.xlabel("Frame number (~5 hr observation duration)")
plt.ylabel("Direct counts (no sky subtraction)")
plt.show()

In [21]:
plt.plot(time_series["156"])
plt.show()

In [30]:
len(list_brightest)

58